.size-slide{
    width: 45%;
    height: 300px;
    margin: 0 auto o auto;
    background: red;
}

img.slide{
  /*   display: block; */
    margin: 0 auto 0 auto;
    width: 300px;
}
table{
    width:100%;

}

td{
    padding: 10px;
}

.btn-form{
    float: right;
}