section.centrado-retos{
    margin-top: 20px;
}

h1.titulo-retos{
    text-align: center;
}

div.contenido-retos{
    width: 400px;
    height: 400px;
    border-left: 1px solid rgb(255, 0, 0);
    border-top: 1px solid rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 26, 255);
    border-right: 1px solid rgb(255, 230, 0);
    margin: 0 auto 0 auto;
}

div.color-1{
    width: 150px;
    height: 200px;
    float: left;
    background-color: rgb(0, 136, 136);
}

div.color-2{
    width: 150px;
    height: 200px;
    float: right;
    background-color: rgb(85, 0, 141);
}

div.color-3{
    width: 150px;
    height: 200px;
    float: left;
    background-color: rgb(168, 168, 168);
}

div.color-4{
    width: 150px;
    height: 200px;
    float: right;
    background-color: rgb(233, 255, 111);
}